
			

			
				
						
						<!-- title -->
						<div id="page-title">
							<span class="title">Projects</span>
						</div>
<h2>Specifications & examples</h2>

    <p>The table below summarises the newly developed specifications for LEMS & NeuroML 2. </p>

    <table  id="longlist"  align="center"  width="500"><tr><th width="200">&nbsp;</th><th width="100">Specification</th><th width="100">Documentation</th><th width="100">Examples</th></tr>
        <tr><td>LEMS</td><td><a href="https://github.com/LEMS/LEMS/blob/master/Schemas/LEMS/LEMS_v0.6.xsd">LEMS_v0.6.xsd</a></td><td><a href="http://lems.github.com/jLEMS/elements.html">LEMS element definitions</a></td><td><a href="https://github.com/LEMS/jLEMS/tree/master/examples">LEMS examples</a></td></tr>
       <tr><td>NeuroML v2beta</td><td><a href="https://github.com/NeuroML/NeuroML2/blob/master/Schemas/NeuroML2/NeuroML_v2beta.xsd">NeuroML_v2beta.xsd</a></td><td><a href="http://www.neuroml.org/NeuroML2CoreTypes/Cells.html">NeuroML 2 Core ComponentTypes</a></td><td><a href="https://github.com/NeuroML/NeuroML2/tree/master/examples">NeuroML 2 examples</a></td></tr>
    </table>

    <h2>Implementations & APIs in Java and Python</h2>

    <p>The table below summarises the different capabilities of the Java and Python libraries for handling LEMS & NeuroML. <a name="libNeuroML">&nbsp;</a></p>

    <table  id="longlist"  align="center"  width="500"><tr><th width="200">&nbsp;</th><th width="100">Java</th><th width="100">Python</th></tr>
        <tr><td>Read, validate & execute LEMS XML files</td><td><a href="http://github.com/LEMS/jLEMS/">jLEMS</a></td><td><a href="https://github.com/LEMS/pylems">PyLEMS</a></td></tr>
        <tr><td>Read & write NeuroML 2 files</td><td><a href="https://github.com/NeuroML/org.neuroml.model">Java API for NeuroML 2</a></td><td><a href="https://github.com/NeuralEnsemble/libNeuroML">libNeuroML</a></td></tr>
        <tr><td>Everything...</td><td><a href="https://github.com/NeuroML/jNeuroML">jNeuroML</a><br/><i>Parse & execute LEMS; validate NeuroML v1/v2; convert LEMS to graphical format, NEURON, Brian, etc.; convert SBML to LEMS...</i></td><td>&nbsp;</td></tr>
    </table>
